/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400

- Line heights
Default: 1

- Letter spacing

--- 02 COLORS

- Primary: #e67e22
- Tints:
- Shades: 
- Accents:
- Greys

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/**************************/
/* REUSABLE COMPONENTS */
/**************************/

.heading-primary {
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 2.8rem;
    width: 60%;
}

.heading-secondary {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

.heading-tertiary {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    margin-top: 2.8rem;
}

.subheading {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    background-color: #2091F9;
    color: #fff;
    padding: 1.6rem 6.2rem;
    border-radius: 35px;
    margin-top: 9rem;
    border: none;
    transition: all 0.3s;
}

.btn:hover {
    color: #2091F9;
    background-color: #fff;
    box-shadow: inset 0 0 0 3px #2091F9;
}

.btn.btn--small  {
    font-weight: 400;
    padding: 1.6rem 3.9rem;
    margin-top: 0;
}

.input {
    padding: 1.8rem 4.0rem;
    border-radius: 40px;
    border: 1px solid #bbb;
    outline: none;
    background-color: #eee;
    font-size: 1.4rem;
    font-family: inherit;
}


/**************************/
/* HELPER CLASSES */
/**************************/

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    column-gap: 7.6rem;
}

.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5-col {
    grid-template-columns: repeat(5, 1fr);
}

.text-white {
    color: #fff;
}