

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
    .heading-primary {
        font-size: 6.2rem;
        width: 100%;
    }

    .hero {
        padding: 10rem 0 0 0;
    }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    html {
        font-size: 56.25%;
    }

    .nav__list:link, .nav__list:visited {
        padding: 0 0.4rem;
    }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
    html {
        font-size: 50%;
    }

    .feature-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .grid-2-col, .grid-3-col {
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .organize__img{
        margin-top: 7.4rem;
    }

    .feature-item {
        display: flex;
        flex-direction: column;
        width: 23rem;
        align-items: center;
    }

    .subscribe {
        grid-template-columns: 1fr;
    }

    .subscribe__img {
        padding: 0 3.2rem;
    }

    .subscribe__text-box {
        padding: 0 3.2rem;
    }

    .price-container {
        
    }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {

}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
